body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #6A0572, #AB83A1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.info-box {
    text-align: center;
    padding: 20px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: white;
    margin-bottom: 10px;
}

img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
}

.content {
    margin-top: 20px;
}

h2 {
    color: white;
}

.white-text {
    color: white;
}
