body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.info-box {
    display: none;
    text-align: center;
    opacity: 0;
    animation: fadeIn 300s ease-out forwards; /* Длительность анимации в 5 минут, forwards для сохранения состояния после завершения */
    position: relative;
    z-index: 2; /* Назначаем z-index для .info-box */
}

.avatar-container img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.content {
    max-width: 600px;
    margin: 0 auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes snowfall {
    from {
        transform: translateY(-50vh); /* Уменьшаем начальное смещение, чтобы снег плавно появлялся */
    }
    to {
        transform: translateY(100vh);
    }
}

.snowflake {
    position: absolute;
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: snowfall 10s linear infinite; /* Уменьшаем скорость падения снега */
    z-index: 1; /* Назначаем z-index для .snowflake */
}
