body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #6A0572, #AB83A1);
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 15px;
}

img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
}

.info-box {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    color: white;
}

.white-text {
    color: white;
}
